/*! CSS Used from: https://pokemondb.net/static/css/pokemondb-f77076084e.css */
*{-webkit-box-sizing:border-box;box-sizing:border-box;}
a{color:#2769be;text-decoration:none;transition:color .2s,background-color .2s;}
a:hover,a:active,a:focus{color:#a42121;text-decoration:underline;outline:0;}
img{border:0;max-width:100%;height:auto;font-size:.75rem;color:#a3a3a3;}
small{font-size:.875rem;}
:target{background-color:#f0f0f0;}
.text-muted{color:#737373;}
:not(h1,h2)>.text-muted{font-weight:normal;}
::-webkit-input-placeholder{color:#a3a3a3;font:inherit;line-height:2;font-size:.875rem;opacity:1;}
:-ms-input-placeholder{color:#a3a3a3;font:inherit;line-height:2;font-size:.875rem;opacity:1;}
::placeholder{color:#a3a3a3;font:inherit;line-height:1.5;font-size:.875rem;opacity:1;}
::-moz-placeholder{color:#a3a3a3;font:inherit;line-height:1.5;font-size:.875rem;opacity:1;}
@media (min-width: 620px)and (max-width: 899px){
::-moz-placeholder{line-height:2.25;}
}
.img-sprite{width:128px;height:128px;}
.img-sprite::after{content:"…";color:#dbdbdb;font-size:2rem;line-height:128px;}
.img-sprite-v15{image-rendering:pixelated;}
.infocard-list{margin-bottom:1rem;}
.infocard{display:inline-block;padding:0 .75rem 2rem;line-height:1.25;text-align:center;}
.infocard-list-pkmn-lg>.infocard{width:138px;}
.infocard-lg-img,.infocard-lg-data{display:block;}
.ent-name{font-size:1rem;font-weight:bold;}
.itype{color:#737373;}
.itype.normal{color:#797964;}
.itype.fire{color:#d52100;}
.itype.water{color:#0080ff;}
.itype.electric{color:#c90;}
.itype.grass{color:#5cb737;}
.itype.ice{color:#0af;}
.itype.fighting{color:#a84d3d;}
.itype.poison{color:#88447a;}
.itype.ground{color:#bf9926;}
.itype.flying{color:#556dff;}
.itype.psychic{color:#ff227a;}
.itype.bug{color:#83901a;}
.itype.rock{color:#a59249;}
.itype.ghost{color:#5454b3;}
.itype.dragon{color:#4e38e9;}
.itype.dark{color:#573e31;}
.itype.steel{color:#8e8ea4;}
.itype.fairy{color:#e76de7;}


/*! CSS Used from: https://pokemondb.net/static/css/pokemondb-f77076084e.css */
*{-webkit-box-sizing:border-box;box-sizing:border-box;}
a{color:#2769be;text-decoration:none;transition:color .2s,background-color .2s;}
a:hover,a:active,a:focus{color:#a42121;text-decoration:underline;outline:0;}
img{border:0;max-width:100%;height:auto;font-size:.75rem;color:#a3a3a3;}
small{font-size:.875rem;}
:target{background-color:#f0f0f0;}
.text-muted{color:#737373;}
:not(h1,h2)>.text-muted{font-weight:normal;}
::-webkit-input-placeholder{color:#a3a3a3;font:inherit;line-height:2;font-size:.875rem;opacity:1;}
:-ms-input-placeholder{color:#a3a3a3;font:inherit;line-height:2;font-size:.875rem;opacity:1;}
::placeholder{color:#a3a3a3;font:inherit;line-height:1.5;font-size:.875rem;opacity:1;}
::-moz-placeholder{color:#a3a3a3;font:inherit;line-height:1.5;font-size:.875rem;opacity:1;}
@media (min-width: 620px)and (max-width: 899px){
::-moz-placeholder{line-height:2.25;}
}
.img-sprite{width:128px;height:128px;}
.img-sprite::after{content:"…";color:#dbdbdb;font-size:2rem;line-height:128px;}
.img-sprite-v15{image-rendering:pixelated;}
.infocard{display:inline-block;padding:0 .75rem 2rem;line-height:1.25;text-align:center;}
.infocard-list-pkmn-lg>.infocard{width:138px;}
.infocard-lg-img,.infocard-lg-data{display:block;}
.ent-name{font-size:1rem;font-weight:bold;text-transform: capitalize;}
.itype{color:#737373;}

.type-normal{background-color:#aa9 !important;}
.type-fire{background-color:#f42 !important;}
.type-water{background-color:#39f !important;}
.type-electric{background-color:#fc3 !important;}
.type-grass{background-color:#7c5 !important;}
.type-ice{background-color:#6cf !important;}
.type-fighting{background-color:#b54 !important;}
.type-poison{background-color:#a59 !important;}
.type-ground{background-color:#db5 !important;}
.type-flying{background-color:#89f !important;}
.type-psychic{background-color:#f59 !important;}
.type-bug{background-color:#ab2 !important;}
.type-rock{background-color:#ba6 !important;}
.type-ghost{background-color:#66b !important;}
.type-dragon{background-color:#76e !important;}
.type-dark{background-color:#754 !important;}
.type-steel{background-color:#aab !important;}
.type-fairy{background-color:#e9e !important;}


/*! CSS Used from: https://pokemondb.net/static/css/pokemondb-f77076084e.css */
*{-webkit-box-sizing:border-box;box-sizing:border-box;}
a{color:#2769be;text-decoration:none;transition:color .2s,background-color .2s;}
a:hover,a:active,a:focus{color:#a42121;text-decoration:underline;outline:0;}
:target{background-color:#f0f0f0;}
::-webkit-input-placeholder{color:#a3a3a3;font:inherit;line-height:2;font-size:.875rem;opacity:1;}
:-ms-input-placeholder{color:#a3a3a3;font:inherit;line-height:2;font-size:.875rem;opacity:1;}
::placeholder{color:#a3a3a3;font:inherit;line-height:1.5;font-size:.875rem;opacity:1;}
::-moz-placeholder{color:#a3a3a3;font:inherit;line-height:1.5;font-size:.875rem;opacity:1;}
@media (min-width: 620px)and (max-width: 899px){
::-moz-placeholder{line-height:2.25;}
}
.type-icon{display:inline-block;width:66px;margin-bottom:4px;background:#dbdbdb;border:1px solid #a3a3a3;border-radius:4px;border:1px solid rgba(0,0,0,.2);color:#fff;font-size:.75rem;font-weight:normal;line-height:1.5rem;text-align:center;text-shadow:1px 1px 2px rgba(0,0,0,.7);text-transform:uppercase;transition:opacity .4s;}
.type-icon:hover,.type-icon:active,.type-icon:focus{color:#fff;text-decoration:none;}
.type-icon:link:hover,.type-icon:link:active,.type-icon:link:focus{opacity:.85;}

.infocard-lg-data{
    min-height: 100px;
}
