.text-category-1{
    color: blanchedalmond;
}
.text-button-category-1{
    color: cornflowerblue;
}
.hr-seperate-category-1{
    height: 5px;
    color: red;
    margin-top: 12px;
    background: black;
}
.button-category{
    min-height: 100px;
    margin-bottom: 10px;
}
p{
    font-size: 10px;
    font-size: 1.5vh;
}