.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.nav-link i{
  margin-right: 10px;
}
body {
  background-color: #d1e5d9!important;
  background-image: url(https://ahost2.bulbagarden.net/content/bulbagarden/images/bg-green-2x-optim.png),linear-gradient(180deg,#e5f1ec 0%,#e5f1ec 322px,#d1e5d9 322px)!important;
  background-repeat: no-repeat!important;
  background-position: center 83px,0 0!important;
  background-size: 2250px,auto!important;
}
